<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.my">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="OneVote"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.My"
        tools:targetApi="31">
        <activity
            android:name=".Resultforadmin"
            android:exported="false" />
        <activity
            android:name=".Forgot"
            android:exported="false" />
        <activity
            android:name=".finger"
            android:exported="false" />
        <activity
            android:name=".AddActivity"
            android:exported="false"
            android:label="New Record"
            android:parentActivityName=".AdminCreateCandidates" />
        <activity
            android:name=".Admenu"
            android:exported="false" />
        <activity
            android:name=".AdminCreateCandidates"
            android:exported="false"
            android:label="Manage Nominees"
            android:parentActivityName=".Admenu" />
        <activity
            android:name=".AdminMenu"
            android:exported="false"
            android:label="Admin Menu"
            android:parentActivityName=".Login" />
        <activity
            android:name=".Fingerprint"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false"
            android:label="Menu" />
        <activity
            android:name=".item"
            android:exported="false" />
        <activity
            android:name=".M"
            android:exported="false" />
        <activity
            android:name=".Userseecandidates"
            android:exported="false"
            android:label="Poll Booth"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".google_services"
            android:exported="false" />
        <activity
            android:name=".Welcomeback"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:label="Login" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:label="Register" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>